<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f4f6;
            margin: 0;
            padding: 0;
        }

        .card {
            width: 90%;
            max-width: 500px;
            background-color: #ffffff;
            color: #111827;
            margin: 20px auto;
            border-radius: 10px;
            border: 1px solid #E2E8F0;
        }

        .header {
            background-color: #2563eb;
            padding: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            margin: 0;
        }

        .body {
            padding: 10px 20px;
            font-size: 18px;
            color: #333;
            white-space: pre-wrap;
        }

        .button {
            background-color: #2563eb;
            color: #fff !important;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
            text-align: center;
        }

        .footer {
            font-size: 14px;
            color: #6b7280;
            margin-top: 20px;
            text-align: center;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="header">
            <h1 class="title">
                <%= title %>
            </h1>
        </div>
        <div class="body">
            <p>
                <%= body %>
            </p>
            <a class="button" href="<%= url %>">Continue</a>
        </div>
        <div class="footer">
            If you believe you've received this email in error, please ignore it or contact our support team.
        </div>
    </div>
</body>

</html>